<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jayesh.ghostel">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.LoginActivity" />
        <activity android:name=".Activity.SignUpActivity" />
        <activity
            android:name=".Activity.AdminActivity"
            android:label="@string/title_activity_admin"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Activity.AddHostel" />
        <activity android:name=".Activity.AddBlock" />
        <activity android:name=".Activity.AddRector" />
        <activity android:name=".Activity.AddContractor" />
        <activity android:name=".Activity.AdminAddStudent" />
        <activity android:name=".Activity.ContractorActivity" />
        <activity android:name=".Activity.ShowQRCodeActivity" />
        <activity android:name=".Activity.ViewHostelActivity" />
        <activity android:name=".Activity.ViewBlockActivity" />
        <activity android:name=".Activity.ViewCommonDataActivity" />
        <activity android:name=".Activity.ViewStudentActivity" />
        <activity android:name=".Activity.ViewRectorActivity" />
        <activity android:name=".Activity.ViewContractorActivity" />
        <activity android:name=".Activity.EditStudentActivity" />
        <activity android:name=".Activity.EditRectorActivity" />
        <activity android:name=".Activity.EditContractorActivity" />
        <activity android:name=".Activity.EditHostelActivity" />
        <activity android:name=".Activity.EditBlockActivity" />
        <activity
            android:name=".Activity.StudentActivity"
            android:label="@string/title_activity_student"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Activity.AdminAddRoom" />
        <activity android:name=".Activity.ViewComplainActivity" />
        <activity
            android:name=".Activity.RectorActivity"
            android:label="@string/title_activity_rector"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Activity.RectorAddStudent" />
        <activity android:name=".Activity.RectorAddRoom" />
        <activity android:name=".Activity.ViewRoomActivity"></activity>
    </application>

</manifest>